@media screen and (min-width: 70em){

.container {
    display: flex;
    width: 88%;
}
.posts {
    flex: 1;
}

.sidebar {
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 25%;
  section {
      width: 90%;
  }
}
}
