body {
      font-family: Verdana, Arial, sans-serif;
}
.hero {
    border-radius: 1em 1em 0 0;
    background-color: $headerFooterBackgroundColor;
    color: $headerFooterFontColor;

  ul{
      display: flex;
      list-style: none;
      padding-left: 0;
  }
  li {
      padding-right: 0.5em;
  }

  a {
      text-decoration:none;
      color: $headerFooterFontColor;
  }
}
