.container {
    margin: 0 auto;
}
.posts {
    color: $fontColor;
  article {
      margin: 1em;
      background-color: $windowBackgroundColor;
      border: $windowBorder;
      height: 2 * $mobileWindowHeight;

  }
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sidebarBackgroundColor;
    color: $fontColor;
  section {
      width: 90%;
      margin: 1em 0;
      height: $mobileWindowHeight;
      background-color: $windowBackgroundColor;
      border: $windowBorder;
  }
}
