@media screen and (min-width: 35em){

.hero {
      display:flex;
      justify-content: space-between;
      height: 10em;
    h1 {
        margin: 2em;
    }
    nav {
        align-self: flex-end;
    }
    ul {
        justify-content: flex-end;
        margin: 1em;
    }
    a {
        margin: 0 0.7em;
    }
  }
}
