@media screen and (min-width: 35em) {

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  article {
      display: flex;
      width: 45%;
      height: $primaryArticleHeight;
  }
}
.sidebar {
    flex-direction: row;
    justify-content:space-around;
  section {
      width: 25%;
      height: $primarySectionHeight;
  }

}
}
