$headerFooterBackgroundColor: #444444;
$headerFooterFontColor: #ffffff;
$articleFontColor: #444444;
$articleBackgroundColor: #dddddd;
$articleBorder: 1px solid $articleFontColor;
$sideBarBackgroundColor: #aaaaaa;
$sideBarFontColor: #444444;
$sideBarSectionBorder: 1px solid $sideBarFontColor;
$sideBarSectionBackgroundColor: #dddddd;
