$headerFooterBackgroundColor: #444444;
$headerFooterFontColor: #ffffff;

$fontColor: #444444;
$windowBorder: 1px solid $fontColor;

$windowBackgroundColor: #dddddd;
$sidebarBackgroundColor: #aaaaaa;


$mobileArticleHeight: 12em;
$mobileSectionHeight: 6em;

$primaryArticleHeight: 18em;
$primarySectionHeight: 9em;
