$headerFooterBackgroundColor: #444444;
$headerFooterFontColor: #ffffff;

$fontColor: #444444;
$windowBorder: 1px solid $fontColor;

$windowBackgroundColor: #dddddd;
$sidebarBackgroundColor: #aaaaaa;


$mobileWindowHeight: 6em;


$primaryWindowHeight: 9em;
