
/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}


body {
    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}



.hero {
    /* DO NOT CHANGE THESE */
    background-color: #444444;
}
.hero h1 {
    /* DO NOT CHANGE THESE */
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.posts {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* DO NOT CHANGE THESE */
    color: #444444;
}
.posts article {
    display: flex;
    margin: 1em 0;
    width: 45%;
    box-sizing: border-box;
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
}


.sidebar {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 25%;
    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
}

.sidebar section {
    display: flex;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;

    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
}


footer {

    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
}
